* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  background-color: rgb(25, 65, 134);
}

header {
  text-align: center;
  background-color: rgba(48, 88, 155);
  padding: 0.5rem;
  width: 100%;
}

header p {
  font-size: 0.75rem;
}

main img {
  width: 50%;
}

main>section {
  background-color: rgb(25, 65, 134);
  padding: 0.5rem;
}

main>a>article {
  display: flex;
  width: 100%;
  background-color: rgb(100, 145, 224);
}

main>a>article>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  width: 50%;
}

div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div>a>article {
  position: relative;
  display: flex;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
}

div>a:nth-of-type(4n),
div>a:nth-of-type(4n + 1) {
  background-color: rgb(67, 105, 170);
}

div>a:nth-of-type(4n + 2),
div>a:nth-of-type(4n + 3) {
  background-color: rgba(48, 88, 155);
}

div>a>article>section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

p {
  font-size: 0.75rem;
}

i {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

h2 {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

h3 {
  padding-left: 1rem;
  font-size: 0.8rem;
}
