* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(25, 65, 134);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(48, 88, 155);
  padding: 0.5rem 1rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  width: 50%;
}

header a {
  width: auto;
  cursor: pointer;
}

div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header div {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  width: auto;
}

p {
  font-size: 0.75rem;
}

header p {
  font-size: 0.75rem;
}

main img {
  width: 50%;
}

.mainDetails {
  width: 100%;
}

main > article > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.mainHome > section {
  background-color: rgb(25, 65, 134);
}

.mainHome > div > a > article > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.mainDetails > section:first-child {
  background-color: rgb(25, 65, 134);
}

.mainHome > section > h3,
.mainDetails > section > h3 {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

main > article {
  display: flex;
  width: 100%;
  background-color: rgb(100, 145, 224);
  justify-content: space-between;
  padding: 5%;
}

.mainHome > div > a > article {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
}

.mainHome > div > a:nth-of-type(4n),
.mainHome > div > a:nth-of-type(4n + 1) {
  background-color: rgb(67, 105, 170);
}

.mainHome > div > a:nth-of-type(4n + 2),
.mainHome > div > a:nth-of-type(4n + 3) {
  background-color: rgba(48, 88, 155);
}

article i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

h2 {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

article h2 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.statistics {
  width: 100%;
  margin: 0;
  padding: 0;
}

.population,
.critical {
  display: flex;
}

.population {
  background-color: rgb(100, 145, 224);
  justify-content: space-around;
}

.population div,
.critical div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.population div {
  padding: 2rem 0 2rem 5%;
  background-color: rgb(100, 145, 224);
}

.critical div {
  width: 50%;
  padding: 2rem 0 2rem 15%;
}

.population div:first-child {
  width: 45%;
}

.population div:nth-child(2) {
  width: 30%;
}

.population div:last-child {
  width: 25%;
}

.critical div:first-child {
  background-color: rgb(67, 105, 170);
}

.critical div:last-child {
  background-color: rgba(48, 88, 155);
}

.number {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
}

.confirmed {
  font-size: 1rem;
}

#root > h2 {
  margin: auto;
  padding: 5rem;
  font-size: 3rem;
}

.lineChart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pie {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(48, 88, 155);
  padding-bottom: 2rem;
}

h5 {
  text-align: center;
  background-color: rgba(48, 88, 155);
  padding-top: 2rem;
  font-size: 1rem;
}

.pieChart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
